<div class="row">
  <div class="col-md-6 mx-auto d-flex align-items-center">
    <ul>
      <li [routerLink]="'/home'" routerLinkActive="active" class="px-3 py-1">
        Home
      </li>
      <li
        [routerLink]="'/customer'"
        routerLinkActive="active"
        class="px-3 py-1"
      >
        Customer
        <span *ngIf="customerState.count() > 0"
          >({{ customerState.count() }})</span
        >
      </li>
      <li [routerLink]="'/product'" routerLinkActive="active" class="px-3 py-1">
        Product
        <span *ngIf="productState.count() > 0"
          >({{ productState.count() }})</span
        >
      </li>
      <li [routerLink]="'/order'" routerLinkActive="active" class="px-3 py-1">
        Order
        <span *ngIf="orderState.count() > 0">({{ orderState.count() }})</span>
      </li>
    </ul>
  </div>
</div>
