ul li {
  list-style: none;
  float: left;
  background: rgb(0, 116, 194);
  border-right: 1px solid rgba(255, 255, 255, 0.397);
  color: #fff;
  cursor: pointer;
}
ul li:hover {
  background: rgb(58, 58, 58);
}
.active {
  background: rgb(58, 58, 58) !important;
}
