<div class="row">
  <div class="col-md-6 mx-auto">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="form-group row mb-2">
        <label for="name" class="form-label col-12">Name</label>
        <div class="col-12">
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Name"
            formControlName="name"
          />
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="price" class="col-12 form-label">Price</label>
        <div class="col-12">
          <input
            type="number"
            class="form-control"
            id="price"
            placeholder="Price"
            formControlName="price"
          />
        </div>
      </div>
      <div class="form-group row mb-2">
        <label for="description" class="col-12 form-label">Description</label>
        <div class="col-12">
          <textarea
            formControlName="description"
            id="description"
            cols="30"
            rows="2"
            class="form-control"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-right">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
