<div class="row my-2">
  <div class="col-md-6 mx-auto">
    <div class="float-right">
      <a [routerLink]="'/customer/new'" class="">Add Customer</a>
    </div>
  </div>
</div>
<h5 *ngIf="dataSource._loading$ | async">Loading...</h5>
<div class="row">
  <div class="col-md-6 mx-auto">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>SL NO.</th>
          <th demoSort sortBy="fullName" (sort)="onSort($event)">Name</th>
          <th demoSort sortBy="contactNo" (sort)="onSort($event)">Contact No.</th>
          <th demoSort sortBy="emailAddress" (sort)="onSort($event)">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of dataSource.customerList | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ customer.fullName }}</td>
          <td>{{ customer.contactNo }}</td>
          <td>{{ customer.emailAddress }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
