<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="float-right">
      <a [routerLink]="'/order/new'">New Order</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>Customer</th>
          <th class="text-right">Qty</th>
          <th>Delivery Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orderState.getAll$ | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ order.customer.fullName }}</td>
          <td class="text-right">{{ order.orderItems.length }}</td>
          <td>{{ order.deliveryAddress }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
