<div class="row">
  <div class="col-md-6 mx-auto">
    <h4 class="text-center py-2">Customer Registration</h4>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
      <div class="form-group row my-1">
        <label for="firstName" class="col-sm-3 col-form-label"
          >First Name</label
        >
        <div class="col-sm-9">
          <input
            formControlName="firstName"
            
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First name"
          />
        </div>
      </div>
      <div class="form-group row my-1">
        <label for="lastName" class="col-sm-3 col-form-label">Last Name</label>
        <div class="col-sm-9">
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last name"
          />
        </div>
      </div>
      <div class="form-group row my-1">
        <label for="contactNo" class="col-sm-3 col-form-label"
          >Contact No.</label
        >
        <div class="col-sm-9">
          <input
            formControlName="contactNo"
            numbersOnly
            type="contactNo"
            class="form-control"
            id="contactNo"
            placeholder="Contact No."
          />
        </div>
      </div>
      <div class="form-group row my-1">
        <label for="emailAddress" class="col-sm-3 col-form-label"
          >Email Address</label
        >
        <div class="col-sm-9">
          <input
            formControlName="emailAddress"
            type="emailAddress"
            class="form-control"
            id="emailAddress"
            placeholder="Email Address"
          />
        </div>
      </div>

      <!-- Address form start -->
      <div formArrayName="addresses" class="address-form">
        <div
          *ngFor="let address of addresses.controls; let i = index"
          class="my-2 border border-2 p-2"
        >
          <form [formGroupName]="i">
            <h6>
              Address - {{ i + 1 }}
              <button
                (click)="removeAddress(i)"
                class="btn-sm btn-danger float-right cursor-pointer"
              >
                X
              </button>
            </h6>
            <div class="form-group row my-1 mt-3">
              <label for="city{{ i }}" class="col-sm-3 col-form-label"
                >City</label
              >
              <div class="col-sm-9">
                <input
                  formControlName="city"
                  type="text"
                  class="form-control"
                  [id]="'city' + i"
                  placeholder="City"
                />
              </div>
            </div>
            <div class="form-group row my-1">
              <label for="street{{ i }}" class="col-sm-3 col-form-label"
                >Street</label
              >
              <div class="col-sm-9">
                <input
                  formControlName="street"
                  type="text"
                  class="form-control"
                  [id]="'street' + i"
                  placeholder="Street"
                />
              </div>
            </div>
            <div class="form-group row my-1">
              <label for="zipCode{{ i }}" class="col-sm-3 col-form-label"
                >Zip Code</label
              >
              <div class="col-sm-9">
                <input
                  formControlName="zipCode"
                  type="text"
                  class="form-control"
                  [id]="'zipCode' + i"
                  placeholder="Zip Code"
                />
              </div>
            </div>
            <div class="form-group row my-1">
              <label for="area{{ i }}" class="col-sm-3 col-form-label"
                >Area</label
              >
              <div class="col-sm-9">
                <textarea
                  formControlName="area"
                  type="text"
                  class="form-control"
                  [id]="'area' + i"
                  placeholder="Area"
                  rows="2"
                ></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="row my-3">
          <div class="col-12">
            <button
              (click)="addAddress()"
              type="button"
              class="btn btn-success float-right"
            >
              + Add more address
            </button>
          </div>
        </div>
      </div>
      <!-- Address form end -->

      <div class="row">
        <div class="col-12">
          <button class="btn btn-primary float-right">Submit</button>
        </div>
      </div>
    </form>
  </div>
</div>
