<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="float-right">
      <a [routerLink]="'/product/new'">Add Product</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>SL No.</th>
          <th>Name</th>
          <th class="text-right">Price</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productState.getAll$ | async; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ product.name }}</td>
          <td class="text-right">{{ product.price }}</td>
          <td>{{ product.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
