<div class="row">
  <div class="col-md-6 mx-auto">
    <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
      <div class="form-group row mb-2">
        <label for="" class="form-label col-12">Customer</label>
        <div class="col-12">
          <select formControlName="customer" class="form-control">
            <option value="-1" selected>Select Customer</option>
            <option
              *ngFor="let customer of customerState.getAll$ | async"
              [value]="customer"
            >
              {{ customer.fullName }}
            </option>
          </select>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="" class="col-12">Product</label>
        <div class="col-12">
          <div
            *ngFor="let product of productState.getAll$ | async; let i = index"
            class="product"
          >
            <input type="checkbox" [id]="i" /> {{ product.name }}
          </div>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="" class="form-label col-12">Delivery Address</label>
        <div class="col-12">
          <textarea
            class="form-control"
            formControlName="deliveryAddress"
            rows="2"
            placeholder="Delivery address"
          ></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="float-right">
            <button class="btn btn-success">Submit</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
